body{
    background-color:gray;
}
.holder{
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    perspective-origin: 50% calc(50% - 2em);

}
#holder{
    position: relative;
    transform-style: preserve-3d;
    animation: run 5s infinite linear;
}
@keyframes run{
    to{transform: rotateZ(360deg) rotateX(360deg) rotateY(360deg);
    }
}
#cube{
    
    width:200px;
    height:200px;
    transform-style: preserve-3d;
    position: relative;
    top:0px;
}
#front, #back, #left, #right{
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(51, 0, 255, 0.467);
    box-shadow: 0 0 0.5em #00a inset;
}
#front{
    transform: translateZ(100px);
}
#back{
    transform: rotateY(180deg) translateZ(100px);
}
#left{
    transform: rotateY(270deg) translateZ(100px);
}
#right{
    transform: rotateY(90deg) translateZ(100px);
}
#top{
    position:absolute;
    width: 100%;
    box-shadow: 0 0 0.5em #00a inset;
    height: 100%;
    background: rgba(0, 166, 255, .5);
    transform: translateY(-50%) rotateX(90deg);
}
#bottom{
    position:absolute;
    width: 100%;
    box-shadow: 0 0 0.5em #00a inset;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transform: translateY(50%) rotateX(90deg);
}
